@import "tailwindcss";

/* Custom base styles */
@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
  }

  .font-serif {
    font-family: 'Playfair Display', serif;
  }

  .font-accent {
    font-family: 'Avenir Next', sans-serif;
  }

}

